<!-- Begin Top Author Page
================================================== -->
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-md-offset-2">
      <div class="mainheading">
        <div *ngIf="(articles$ | async) as articles" class="row post-top-meta authorpage">
          <div class="col-md-10 col-xs-12">
            <h1>{{articles[0].user.username}}</h1>
            <span class="author-description">{{articles[0].user.bio}}</span>
            <div class="sociallinks">
              <a target="_blank" href="https://www.facebook.com/wowthemesnet/">
                <i class="fa fa-facebook"></i>
              </a>
              <span class="dot"></span>
              <a target="_blank" href="https://plus.google.com/s/wowthemesnet/top">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
            <a target="_blank" href="https://twitter.com/wowthemesnet" class="btn follow">Follow</a>
          </div>
          <div class="col-md-2 col-xs-12">
            <img class="author-thumb" src="{{articles[0].user.avatar}}" alt="{{articles[0].user.username}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Top Author Meta
  ================================================== -->

<!-- Begin Author Posts
  ================================================== -->
<div class="graybg authorpage">
  <div class="container">
    <div class="listrecent listrelated">

      <!-- begin post -->
      <div *ngFor="let article of (articles$ | async)" class="authorpostbox">
        <author-card [article]="article"></author-card>
      </div>
      <!-- end post -->


    </div>
  </div>
</div>
<!-- End Author Posts
  ================================================== -->

<!-- Begin Twitter Timeline
  ================================================== -->
<div class="container margtop3rem">
  <a class="twitter-grid" href="https://twitter.com/TwitterDev/timelines/539487832448843776">WowThemesNet Tweets</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<!-- End Twitter Timeline
  ================================================== -->

<!-- Begin Footer
  ================================================== -->
<div class="container">
  <div class="footer">
    <p class="pull-left">
      Copyright &copy; 2017 Your Website Name
    </p>
    <p class="pull-right">
      Mediumish Theme by
      <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
    </p>
    <div class="clearfix"></div>
  </div>
</div>
<!-- End Footer
  ================================================== -->